aiofiles==22.1.0 ; python_full_version >= "3.10.6" and python_version < "4.0"
aiosqlite==0.18.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
anyio==3.6.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
appnope==0.1.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and platform_system == "Darwin" or python_full_version >= "3.10.6" and python_full_version < "4.0.0" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
argon2-cffi==21.3.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
arrow==1.2.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
asttokens==2.2.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
attrs==22.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
babel==2.11.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
backcall==0.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
bandit==1.7.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
beautifulsoup4==4.11.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
black==22.12.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
bleach==6.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.10.6" and python_version < "4"
cffi==1.15.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
charset-normalizer==3.0.1 ; python_full_version >= "3.10.6" and python_version < "4"
click==8.1.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and sys_platform == "win32" or python_full_version >= "3.10.6" and python_full_version < "4.0.0" and platform_system == "Windows"
comm==0.1.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
contourpy==1.0.7 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
cycler==0.11.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
debugpy==1.6.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
decorator==5.1.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
defusedxml==0.7.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
dill==0.3.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
docopt==0.6.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
executing==1.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
fastjsonschema==2.16.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
fonttools==4.38.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
fqdn==1.5.1 ; python_full_version >= "3.10.6" and python_version < "4"
gitdb==4.0.10 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
gitpython==3.1.31 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.10.6" and python_version < "4"
ipykernel==6.21.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
ipython-genutils==0.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
ipython==8.10.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
ipywidgets==8.0.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
isoduration==20.11.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
isort==5.12.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jedi==0.18.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jinja2==3.1.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
joblib==1.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
json5==0.9.11 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jsonpointer==2.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jsonschema==4.17.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jsonschema[format-nongpl]==4.17.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-black==0.3.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-client==8.0.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-console==6.6.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-core==5.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-events==0.6.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-server-fileid==0.7.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-server-terminals==0.4.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-server-ydoc==0.6.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-server==2.3.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter-ydoc==0.2.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyter==1.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyterlab-pygments==0.2.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyterlab-server==2.19.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyterlab-widgets==3.0.5 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
jupyterlab==3.6.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
kiwisolver==1.4.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
loguru==0.6.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
markupsafe==2.1.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
matplotlib-inline==0.1.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
matplotlib==3.7.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
mistune==2.0.5 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
nbclassic==0.5.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
nbclient==0.7.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
nbconvert==7.2.9 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
nbformat==5.7.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
nest-asyncio==1.5.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
notebook-shim==0.2.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
notebook==6.5.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
numpy==1.24.2 ; python_full_version < "4.0.0" and python_full_version >= "3.10.6"
packaging==23.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pandarallel==1.6.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pandas==1.5.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pandocfilters==1.5.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
parso==0.8.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pathspec==0.11.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pbr==5.11.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pexpect==4.8.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and sys_platform != "win32"
pickleshare==0.7.5 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pillow==9.4.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
platformdirs==3.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
prometheus-client==0.16.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
prompt-toolkit==3.0.37 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
psutil==5.9.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
ptyprocess==0.7.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and sys_platform != "win32" or python_full_version >= "3.10.6" and python_full_version < "4.0.0" and os_name != "nt"
pure-eval==0.2.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pycparser==2.21 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pygments==2.14.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pyrsistent==0.19.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
python-json-logger==2.0.7 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pytz==2022.7.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pywinpty==2.0.10 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and os_name == "nt"
pyyaml==6.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pyzmq==25.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
qtconsole==5.4.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
qtpy==2.3.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
requests==2.28.2 ; python_full_version >= "3.10.6" and python_version < "4"
rfc3339-validator==0.1.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
rfc3986-validator==0.1.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
seaborn==0.12.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
send2trash==1.8.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
smmap==5.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
sniffio==1.3.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
soupsieve==2.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
stack-data==0.6.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
stevedore==5.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
terminado==0.17.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
tinycss2==1.2.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
tokenize-rt==5.0.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
tomli==2.0.1 ; python_full_version >= "3.10.6" and python_full_version < "3.11.0a7"
tornado==6.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
tqdm==4.64.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
traitlets==5.9.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
treon==0.1.4 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
uri-template==1.2.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
urllib3==1.26.14 ; python_full_version >= "3.10.6" and python_version < "4"
wcwidth==0.2.6 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
webcolors==1.12 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
webencodings==0.5.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
websocket-client==1.5.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
widgetsnbextension==4.0.5 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
win32-setctime==1.1.0 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0" and sys_platform == "win32"
y-py==0.5.9 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
ypy-websocket==0.8.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
